__pycache__
FoundationDesign/__pycache__
.pyc
FoundationDesign.egg-info/PKG-INFO
FoundationDesign.egg-info/SOURCES.txt
FoundationDesign.egg-info/top_level.txt
FoundationDesign/foundationdesign.py
FoundationDesign.egg-info/PKG-INFO
